<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    FriendBook / Profile Page

</h1>
<p><%= profile_user %></p>
<p><%= profile_user %></p>

<% if(user.id == profile_user.id) { %>
    <!-- if logged in user is same as the user clicking to update
    only then show the update form -->
    <form action="/users/update/<%= profile_user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>
    <% }else if(!allFriends.includes(profile_user.id)) {%>
        <!-- if logged in user is viewing someone's else profile then show only user.name and user.email  -->

    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>

    <form action="/friend/addFriend" method="POST">
        <input type="hidden" name="toUser" value="<%= profile_user.id %>">
        <button type="submit">
            Add friend
        </button>
    </form>
<% } else  {%>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>

    <form action="/friend/removeFriend" method="POST">
        <input type="hidden" name="toUser" value="<%= profile_user.id %>">

        <button type="submit">
            Remove friend
        </button>
    </form>


<% }%>
